.question {
  font-weight: bold;
  font-size: 1.1rem;
  color: #004165;
  margin: 3rem 0 1rem;
}

.benefits {
  list-style: none;
  font-weight: 400;
  font-size: 1rem;
}

.info {
  font-weight: bold;
  //   font-size: 1.1rem;
}

.emphasis {
  font-weight: bold;
  color: #18981d;
}

li {
}
